<% layout('layouts/boilerplate')%>

    <div class="container mt-5">
        <form action="/schedule" method="POST" id="schedule-form">
            <select class="dropdowns mr-5" name="from" id="from">
                <option value="" disabled selected>From</option>
                <option value="Midtown East">Midtown East</option>
                <option value="Brooklyn Navy Yard">Brooklyn Navy Yard</option>
                <option value="Kingston">Kingston</option>
                <option value="Hempstead">Hempstead</option>
                <option value="Edison, NJ">Edison, NJ</option>
                <option value="Stamford">Stamford</option>
            </select>

            <select class="dropdowns" name="to" id="to">
                <option value="" disabled selected>To</option>
                <option value="Midtown East">Midtown East</option>
                <option value="Brooklyn Navy Yard">Brooklyn Navy Yard</option>
                <option value="Kingston">Kingston</option>
                <option value="Hempstead">Hempstead</option>
                <option value="Edison, NJ">Edison, NJ</option>
                <option value="Stamford">Stamford</option>
            </select>

            <br>
            <button class="btn btn-dark mt-2" id="search">Search</button>
        </form>

        
        
        
        <form action="/scheduleRoute" method="POST" class="optional" id="routes-form">
                
                

            <div class="container mt-5">
                <div class="row">

                    <div class="col">

                        
                        <h5>Select one</h5>
                        <% for (let r of routesA) { %>
                            
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="routeA" id="routeA" value="<%=r._id%>" required>
                                <label class="form-check-label" for="routeA">
                                    <%= r.from %> <%= r.departureTime %> - <%= r.to %> - <%= r.arrivalTime %>
                                </label>
                              </div>
                            
                        <% } %>
                    </div>

                    <div class="col">
                            
                        <h5>Select one</h5>
                        <% for (let r of routesB) { %>
        
                            
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="routeB" id="routeB" value="<%=r._id%>" required>
                                <label class="form-check-label" for="routeB">
                                    <%= r.from %> <%= r.departureTime %> - <%= r.to %> <%= r.arrivalTime %>
                                </label>
                              </div>
                            
                            
                        <% } %>
                    </div>
                        
                </div>
            </div>

            <button class="btn btn-warning mt-3">Submit</button>
        </form>
            


    </div>

    <script>
        const s1 = document.getElementById("from");
        const s2 = document.getElementById("to");
        const b1 = document.getElementById("search");

        s1.addEventListener("change", function()
        {
            for (let value of s2)
            {
                if (value.getAttribute("value") !== "") value.removeAttribute("disabled");
            }

            s2[this.options.selectedIndex].setAttribute("disabled", "true"); 

        })

        s2.addEventListener("change", function()
        {
            for (let value of s1)
            {
                if (value.getAttribute("value") !== "") value.removeAttribute("disabled");
            }

            s1[this.options.selectedIndex].setAttribute("disabled", "true"); 
        })


    </script>
    